.app-layout {

  .mantine-AppShell-header,
  .mantine-AppShell-navbar {
    background-color: var(--background);
    border: none !important
  }

  .chat-btns {
    .btn {
      border: none;
      background-color: transparent;

      &:hover {
        background-color: var(--mantine-color-body);
      }
    }

    .inner {
      justify-self: left;
    }
  }
}
